worker_processes auto;
pid /tmp/nginx.pid;
events {}

http {
    include /etc/nginx/mime.types;
    default_type text/plain;
    client_max_body_size ${LANGFLOW_MAX_FILE_SIZE_UPLOAD}M;

    types {
        text/html html;
        text/css css;
        application/javascript js;
    }

    server {
        gzip on;
        gzip_comp_level 2;
        gzip_min_length 1000;
        gzip_types text/xml text/css;
        gzip_http_version 1.1;
        gzip_vary on;
        gzip_disable "MSIE [4-6] \.";

        listen ${FRONTEND_PORT};

        location = / {
            return 302 /langflow/;
        }

        location /langflow/ {
            rewrite ^/langflow/(.*)$ /$1 break;
            root /usr/share/nginx/html;
            index index.html index.htm;
            try_files $uri $uri/ /index.html =404;
            expires 1d;
            add_header Cache-Control "public";
        }

        location = /langflow/index.html {
            rewrite ^/langflow/(.*)$ /$1 break;
            root /usr/share/nginx/html;
            add_header Cache-Control "no-cache, no-store, must-revalidate";
            etag on;
        }

        location /langflow/api/ {
            rewrite ^/langflow/api/(.*)$ /api/$1 break;
            proxy_pass ${BACKEND_URL};
            proxy_http_version 1.1;
            proxy_set_header Host $host;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
        }

        location = /langflow/health_check {
            rewrite ^/langflow/health_check$ /health_check break;
            proxy_pass ${BACKEND_URL};
        }

        location = /langflow/health {
            rewrite ^/langflow/health$ /health break;
            proxy_pass ${BACKEND_URL};
        }

        location /langflow/docs {
            rewrite ^/langflow/docs(.*)$ /docs$1 break;
            proxy_pass ${BACKEND_URL};
        }

        include /etc/nginx/extra-conf.d/*.conf;
    }
}